.form-container {
  margin: 0 auto;
  font: 100% / normal sans-serif;
  width: 90%;
  height:auto;
  display: flex;
  justify-content: center;
  color:brown;
  font-size: large;
}

Form {
  margin: 100;
  padding: 200px;
  width: 50%;
  border-radius: 1rem;
  background-color:lavender;
}

p {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   color: brown;
}
